@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --main-color: #e2f2ff;
  --background-color: #f6f6f6;
  --color-main-action: tomato;
}

*{
  font-family:'MuseoModerno', cursive;
  margin: 0;
  padding: 0;
}

body{
  color: #3c3c3c;
  font-size: 16px;
  background: linear-gradient(45deg, #c7f2f2 0%, #ffffff 100%);
}

.btn{
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
  &.main{
    background-color: tomato;
    color: white
  }
  &.secondary{
    border:1px solid tomato;
    color: tomato;
  }
  &:hover{
    box-shadow: -1px 2px 5px 0px #cccccc;
  }
}