@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --main-color: #e2f2ff;
  --background-color: #f6f6f6;
  --color-main-action: tomato;
}

*{
  font-family:'MuseoModerno', cursive;
  margin: 0;
  padding: 0;
}

body{
  color: #3c3c3c;
  font-size: 16px;
  background: linear-gradient(45deg, #c7f2f2 0%, #ffffff 100%);
}